
.App {
  max-width: 800;
  background-color: #fff;
  color: #555;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  overflow: hidden;
}

header {
  max-width: 800px;
  margin: 0 auto;
  margin-top: 50px;
  background-size: cover;
  background-position: center;
  height: auto;
  background-attachment: fixed;
  position: relative;
}

.row {
  background-color: brown;
  overflow: hidden;
}

.logo {
  height: 100px;
  width: auto;
  float: right;
}

.menu {
  height: 100px;
  width: auto;
  float: left;
}

.burgerContainer{
  max-width: 800px;
  height: 400px;
  margin: 0 auto;
  background-color:white;
  overflow: hidden;
  position: relative;
}

.burgerContainer *{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align:center;
}

.burgerCreationContainer{
  color: black;
  max-width: 800px;
  margin: 0 auto;
  text-align:center;
  background-color:  brown;
}

.sidenav {
  height: 800%; /* 100% Full-height */
  width: 200px  ; /* 0 width - change this with JavaScript */
  position: absolute;
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: white; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.loader {
  text-align:center;
  font-size: 1000%
}

.burgerName {
  text-align:center;
}
